/* .wrapper {
  background: #3f3f54;
  height: 100vh;
  display: flex;
  align-items: center;
}
body {
  margin: 0;
}
.form {
  background: white;
  width: 500px;
  margin: 0 auto;
  padding: 75px;
  color: #333;
  text-align: center;
  box-sizing: border-box;
}
.form form {
  display: grid;
  gap: 15px;
}
.form form input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #e4e4e4;
  padding: 10px 0;
}
input[type="button"] {
  background: #e03350;
  color: white;
} */
