body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, rgb(6, 147, 218), rgb(9, 185, 120));
  font-size: 1.2rem;
}
.main-area {
  width: 600px;
  background: white;
  margin: 100px auto 0 auto;
  padding: 15px;
  border-radius: 10px;
}
.input-area {
  width: 100%;
  display: flex;
  gap: 10px;
}
.input-area input {
  width: 100%;
  flex: 1;
  font-size: 1.2rem;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #11b375;
}
.input-area button {
  padding: 8px 15px;
  font-weight: 600;
  width: 140px;
  font-size: 1.2rem;
  border: none;
  background: #11b375;
  color: white;
  border-radius: 4px;
}
.task-items .item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #e0fdfb;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 6px;
}
.task-items .item p {
  flex: 1;
}
.task-items .item i {
  color: rgb(252, 89, 89);
}
.complete p {
  text-decoration: line-through;
  color: #11b375;
}
.progress {
  width: 100px;
  height: 12px;
  background: white;
  border: 1px solid gray;
  border-radius: 50px;
  overflow: hidden;
  transition-duration: 500ms;
  position: relative;
}
.progress::after {
  content: "";
  width: 0px;
  height: 12px;
  background: green;
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 500ms;
}
.complete .progress {
  /* background: linear-gradient(90deg, green 100%, white 100%); */
  border: 1px solid #11b375;
}
.complete .progress::after {
  width: 100px;
}
