body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.primary-button {
  background: rgb(245, 105, 96);
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  border: none;
  padding: 15px 25px;
}
.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.navigation-menu ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  text-transform: uppercase;
}
.navigation-menu ul li {
  font-weight: 600;
}
.hero-section {
  width: 100%;
}
.hero-section .slider {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-position: center;
}
.hero-section .slider .content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-section .slider .content h1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
}
.hero-section .slider .content p {
  max-width: 850px;
  margin-bottom: 2rem;
  /* margin: 0 auto; */
}
